<div id="site-navigation" class="site-navigation collapse navbar-collapse">
  <ul class="navbar-nav mr-auto sf-menu">
      <li class="nav-item active">
          <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">CF Projects</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Partner Projects</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Membership</a>
          <ul class="sub-menu">
            <li>
              <a href="#">Become a donor</a>
            </li>
            <li>
              <a href="be-partner.html">Become a partner</a>
            </li>
          </ul>
      </li>
  </ul> <!-- .navbar-nav -->

  <div class="site-tools">
    <ul class="nav">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <div class="cart-info">
            <span class="menucart-text hidden-md-down">Giving cart</span> <i class="fa fa-cart-plus menucart-icon" aria-hidden="true"></i> <span class="menucart-count">0</span></span>
          </div> <!-- .cart-info -->
        </a>
      </li>
      <li class="nav-item hidden-md-down"><a href="#signin-modal" data-toggle="modal" class="nav-link"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
    </ul>
  </div> <!-- .site-tools -->
</div> <!-- .site-navigation -->
