<div class="footer-bottom">
  <div class="footer-bottom-1">
    <div class="container">
      <div class="row">
        <div class="partner-logo col-md-6">
          <ul class="nav flex-row justify-content-center justify-content-lg-start">
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/cnn.png" alt="CNN"></a></li>
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/the-washington-post.png" alt="The new york times"></a></li>
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/npr.png" alt="NPR"></a></li>
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/cotafer.png" alt="Cotafer"></a></li>
          </ul>
        </div> <!-- .partner-logo -->
        <div class="awards-logo col-md-6">
          <ul class="nav flex-row justify-content-center justify-content-lg-start">
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/bbb-charity.png" alt="BBB Wise Giving Alliance"></a></li>
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/mcafee-secure.png" alt="Mcafee Secure"></a></li>
            <li class="nav-item"><a href="#" class="nav-link" title=""><img src="../../images/charity-navigator.png" alt="Charity navigator"></a></li>
          </ul>
        </div> <!-- .partner-logo -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .footer-bottom-1 -->

  <div class="footer-bottom-2">
    <div class="container">
      <div class="row no-gutters">
        <div class="footer-menu col-md-6">
          <ul class="nav flex-row justify-content-center justify-content-lg-start">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Press</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Career</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
          </ul>
        </div>
        <div role="contentinfo" class="copyright col-md-6 text-center text-lg-right">
          <span>© Cotafer foundation 2016. All Right Reserve.</span>
        </div> <!-- .copyright -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .footer-bottom-2 -->

</div> <!-- .footer-bottom -->
