<div class="container">
  <div class="row">

    <div class="footer-widget widget widget-company-info col-md-6">
      <img src="../../images/logo-white.png" class="footer-logo" alt="Learn about Cotafer foundation">
      <p>Cotafer Foundation makes it easy and safe for you to give to local projects anywhere in the world, while providing nonprofits with the tools, training, and support they need to become more effective.</p>
    </div> <!-- .footer-widget -->

    <div class="footer-widget widget col-md-2 col-sm-4">
      <h3 class="widget-title">Donor</h3>
      <ul class="nav">
        <li class="nav-item"><a href="#">Give to a projec</a></li>
        <li class="nav-item"><a href="#">Donor benefit</a></li>
        <li class="nav-item"><a href="#">Gift Cards</a></li>
      </ul>
    </div> <!-- .footer-widget -->

    <div class="footer-widget widget col-md-2 col-sm-4">
      <h3 class="widget-title">Partner</h3>
      <ul class="nav">
        <li class="nav-item"><a href="#">Become a partner</a></li>
        <li class="nav-item"><a href="#">Submit projects</a></li>
        <li class="nav-item"><a href="#">Feature + Benefit</a></li>
      </ul>
    </div> <!-- .footer-widget -->

    <div class="footer-widget widget col-md-2 col-sm-4">
      <h3 class="widget-title">Quick helps</h3>
      <ul class="nav">
        <li class="nav-item"><a href="#">About us</a></li>
        <li class="nav-item"><a href="#">Meeting the team</a></li>
        <li class="nav-item"><a href="#">Media center</a></li>
      </ul>
    </div> <!-- .footer-widget -->

  </div> <!-- .row -->
</div> <!-- .container -->
