<div class="container">
  <div class="row">

    <div class="widget footer-widget widget-company-info col-md-6 mb-1">
      <img src="../../images/logo-white.png" class="footer-logo" alt="Learn about Cotafer foundation">
      <p>Cotafer Foundation makes it easy and safe for you to give to local projects anywhere in the world, while providing nonprofits with the tools, training, and support they need to become more effective.</p>
    </div> <!-- .footer-widget -->

    <div class="widget footer-widget col-md-2 col-sm-4 mb-1">
      <h3 class="widget-title">Donor</h3>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Give to a projec</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Donor benefit</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Gift Cards</a></li>
      </ul>
    </div> <!-- .footer-widget -->

    <div class="widget footer-widget col-md-2 col-sm-4 mb-1">
      <h3 class="widget-title">Partner</h3>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">Become a partner</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Submit projects</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Feature + Benefit</a></li>
      </ul>
    </div> <!-- .footer-widget -->

    <div class="widget footer-widget col-md-2 col-sm-4 mb-1">
      <h3 class="widget-title">Quick helps</h3>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Meeting the team</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Media center</a></li>
      </ul>
    </div> <!-- .footer-widget -->

  </div> <!-- .row -->
</div> <!-- .container -->
