<div class="post-thumbnail-wrap effect-sadie">
    <img src="../../images/related-project-1.jpg">
    <div class="caption-wrap">
      <header>
        <ul class="meta">
          <li class="meta-category">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <a href="#">Women and Girls</a>
          </li>
        </ul>
        <h4>Empower and Educate 100 Cambodian girls and boys</h4>
      </header>
      <p><a href="#" class="btn btn-primary">Donate</a></p>
      <a href="#" class="cover-link">Learn more</a>
    </div> <!-- .caption-wrap -->
</div> <!-- .post-thumbnail-wrap -->
