<div class="media">
  <img src="../../images/thumbnail-square.gif" class="d-flex mr-3 img-fluid">
  <div class="media-body">
    <div class="row">
      <div class="col-lg-7">
        <ul class="meta">
          <li class="meta-location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a href="#">Cambodia</a>
          </li>
          <li class="meta-category">
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <a href="#">Women and Girls</a>
          </li>
        </ul>
        <h4 class="entry-title horz-card-title"><a href="project.html">A Safe Refuge for Evacuees like Pina</a></h4>
        <p class="horz-card-text hidden-md-down">Pina is 57 years old. She lives with her husband and 4 children in a house dangerously close to a riverbank. Every year it floods, and Pina's home is always inundated. During floods...</p>
      </div> <!-- .col -->

      <div class="col-lg-5">
        <div class="goal-process">
          <div class="raised"><strong>$1,510</strong> Raised of</div>
          <div class="goal"><strong>$4,500</strong> Goal</div>
          <progress class="progress progress-success progress-animated" value="75" max="100"></progress>

          <div class="goal-meta row no-gutters hidden-md-down">
            <div class="donors col-4 text-center"><strong>25</strong> donations</div>
            <div class="expired col-4 text-center"><strong>12</strong> days left</div>
            <div class="remained col-4 text-center"><strong>$2,990</strong> to go</div>
          </div> <!-- .row -->
        </div> <!-- .goal-progress -->
        <form class="quick-donation-form">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="btn-quick-donate">$</span>
            <input type="number" class="form-control" aria-describedby="btn-quick-donate">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="button">Donate</button>
            </span>
          </div>
        </form> <!-- .quick-donation-form -->
      </div> <!-- .col -->
    </div> <!-- .row -->
  </div> <!-- .media-body -->
</div> <!-- .media -->

