<div class="single-post-content">
	<p>Abigail and Rusty are inseparable. Olivia needs to escape abuse from her husband in Poland and flee home to the USA. She doesn't have enough money to get them all home and leaving Rusty behind would break Abigail's heart. With your support we can get Olivia, Abigail and Rusty together.</p>
	<h5>Challenge</h5>
	<p>American women fleeing abuse with their children and pets rarely have access to the funds they need to escape home. With this project we will be able to fly Olivia home with Abigail and Rusty.</p>
	<h5>Solution</h5>
	<p>We will be able to purchase airline tickets to get Abigail and Olivia home and the necessary vet certifications and fees to bring Rusty home with them. As with most American women, children and pets fleeing home for safety, they will be able to live with Olivia's parents in the USA.</p>
</div> <!-- .entry -->