<article class="related-post col-md-4">
  <div class="post-thumbnail-wrap">
    <img src="../../images/related-project-1.jpg" class="img-fluid">
    <div class="caption-wrap">
      <ul class="meta">
        <li class="meta-location">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <a href="#">Cambodia</a>
        </li>
        <li class="meta-category">
          <i class="fa fa-folder-o" aria-hidden="true"></i>
          <a href="#">Women and Girls</a>
        </li>
      </ul>
      <h4><a href="#">Empower and Educate 100 Cambodian girls and boys</a></h4>
      <div class="goal-process">
        <div class="raised"><strong>$1,510</strong> Raised of</div>
        <div class="goal"><strong>$4,500</strong> Goal</div>
        <progress class="progress progress-success progress-animated" value="75" max="100"></progress>

        <div class="goal-meta row">
          <div class="donors col-sm-4 text-xs-center"><strong>25</strong> donations</div>
          <div class="expired col-sm-4 text-xs-center"><strong>12</strong> days left</div>
          <div class="remained col-sm-4 text-xs-center"><strong>$2,990</strong> to go</div>
        </div> <!-- .row -->
      </div> <!-- .goal-progress -->
      <a href="#" class="btn btn-primary btn-block">Donate</a>
    </div>
  </div> <!-- .post-thumbnail-wrap -->
</article> <!-- .related-post -->
