<footer id="footer" class="site-footer" role="contentinfo">
  <div class="footer-inner">
    <div class="container">
      <div class="row">

        <div class="footer-widget widget widget-company-info col-md-6">
          <img src="images/logo-white.png" class="footer-logo" alt="Learn about Cotafer foundation">
          <p>Cotafer Foundation makes it easy and safe for you to give to local projects anywhere in the world, while providing nonprofits with the tools, training, and support they need to become more effective.</p>
        </div> <!-- .footer-widget -->

        <div class="footer-widget widget col-md-2 col-sm-4">
          <h3 class="widget-title">Donor</h3>
          <ul class="nav">
            <li class="nav-item"><a href="#">Give to a projec</a></li>
            <li class="nav-item"><a href="#">Donor benefit</a></li>
            <li class="nav-item"><a href="#">Gift Cards</a></li>
          </ul>
        </div> <!-- .footer-widget -->

        <div class="footer-widget widget col-md-2 col-sm-4">
          <h3 class="widget-title">Partner</h3>
          <ul class="nav">
            <li class="nav-item"><a href="#">Become a partner</a></li>
            <li class="nav-item"><a href="#">Submit projects</a></li>
            <li class="nav-item"><a href="#">Feature + Benefit</a></li>
          </ul>
        </div> <!-- .footer-widget -->

        <div class="footer-widget widget col-md-2 col-sm-4">
          <h3 class="widget-title">Quick helps</h3>
          <ul class="nav">
            <li class="nav-item"><a href="#">About us</a></li>
            <li class="nav-item"><a href="#">Meeting the team</a></li>
            <li class="nav-item"><a href="#">Media center</a></li>
          </ul>
        </div> <!-- .footer-widget -->

      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- #footer-inner -->

  <div class="footer-bottom">
    <div class="footer-bottom-1">
      <div class="container">
        <div class="row">
          <div class="partner-logo col-md-6 text-xs-center text-lg-left">
            <ul class="nav nav-inline">
              <li class="nav-item"><a href="#" title=""><img src="images/cnn.png" alt="CNN"></a></li>
              <li class="nav-item"><a href="#" title=""><img src="images/the-washington-post.png" alt="The new york times"></a></li>
              <li class="nav-item"><a href="#" title=""><img src="images/npr.png" alt="NPR"></a></li>
              <li class="nav-item"><a href="#" title=""><img src="images/cotafer.png" alt="Cotafer"></a></li>
            </ul>
          </div> <!-- .partner-logo -->
          <div class="awards-logo col-md-6 text-xs-center text-lg-right">
            <ul class="nav nav-inline">
              <li class="nav-item"><a href="#" title=""><img src="images/bbb-charity.png" alt="BBB Wise Giving Alliance"></a></li>
              <li class="nav-item"><a href="#" title=""><img src="images/mcafee-secure.png" alt="Mcafee Secure"></a></li>
              <li class="nav-item"><a href="#" title=""><img src="images/charity-navigator.png" alt="Charity navigator"></a></li>
            </ul>
          </div> <!-- .partner-logo -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .footer-bottom-1 -->

    <div class="footer-bottom-2">
      <div class="container">
        <div class="row">
          <div class="footer-menu col-md-6 text-xs-center text-lg-left">
            <ul class="nav nav-inline">
              <li class="nav-item"><a href="#">Home</a></li>
              <li class="nav-item"><a href="#">Press</a></li>
              <li class="nav-item"><a href="#">Career</a></li>
              <li class="nav-item"><a href="#">Contact us</a></li>
              <li class="nav-item"><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div role="contentinfo" class="copyright col-md-6 text-xs-center text-lg-right">
            <p class="copyright">© Cotafer foundation 2016. All Right Reserve.</p>
          </div> <!-- .copyright -->
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .footer-bottom-2 -->

  </div> <!-- .footer-bottom -->

</footer> <!-- .site-footer -->
