<header id="header" class="site-header masthead">
  <div class="navbar">

    <div id="mobile-menu" class="hidden-lg-up">
      <a class="cf-nav-trigger" href="#">
        <span class="cf-menu-text">Menu</span><span class="cf-menu-icon"></span>
      </a>
    </div> <!-- #mobile-menu -->

    <div class="site-branding navbar-brand">
      <h3 class="text-xs-center text-lg-left">
        <a href="index.html" title="Cotafer" rel="home">
          <img src="images/logo-white.png" />
        </a>
      </h3>
    </div> <!-- .site-branding -->

    <div id="site-navigation" class="site-navigation hidden-md-down">
      <ul class="nav navbar-nav sf-menu">
          <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">CF Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Partner Projects</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Membership</a>
              <ul class="sub-menu">
                <li>
                  <a href="#">Become a donor</a>
                </li>
                <li>
                  <a href="be-partner.html">Become a partner</a>
                </li>
              </ul>
          </li>
      </ul>
    </div> <!-- .site-navigation -->

    <div class="site-tools float-xs-right">
      <ul class="nav nav-inline">
        <li class="nav-item">
          <a href="#">
            <div class="cart-info">
              <span class="menucart-text hidden-md-down">Giving cart</span> <i class="fa fa-cart-plus menucart-icon" aria-hidden="true"></i> <span class="menucart-count">0</span></span>
            </div> <!-- .cart-info -->
          </a>
        </li>
        <li class="nav-item hidden-md-down"><a href="#signin-modal" data-toggle="modal"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
      </ul>
    </div> <!-- .site-tools -->

  </div> <!-- .navbar -->
</header><!-- /header -->
