<!-- Start Addon mobile menu -->
<nav id="mobile-menu-alternative" class="mobile-nav">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">CF Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Partner Projects</a>
    </li>
  </ul>

  <ul class="nav">
    <li class="nav-item">
        <a id="signin-menu-mobile-alt" class="nav-link" href="#signin-modal" data-toggle="modal">Login</a>
    </li>
    <li class="nav-item">
        <a id="signup-menu-mobile-alt" class="nav-link" href="#signup-modal" data-toggle="modal">Register</a>
    </li>
  </ul>

  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="#">Helps</a>
      </li>
  </ul>
</nav> <!-- #mobile-menu-alternative -->
