<div class="social-sharing-wrap">
  <div class="theme-heading">
    <span class="text">Sharing</span>
  </div> <!-- .theme-heading -->

  <ul class="social-sharing position-horizontal style-flat">
    <li class="share-twitter">
      <a href="#" title="Share on Tweeter">
      <span class="fa fa-twitter"></span>
      <span class="social-share-btn-text">Tweeter</span>
      </a>
    </li>
    <li class="share-facebook">
      <a href="#" title="Share on Facebook">
        <span class="fa fa-facebook"></span>
        <span class="social-share-btn-text">Facebook</span>
      </a>
    </li>
    <li class="share-googleplus">
      <a href="#" title="Share on Google+">
        <span class="fa fa-google-plus"></span>
        <span class="social-share-btn-text">Plus one</span>
      </a>
    </li>
    <li class="share-linkedin">
      <a href="#" title="Share on LinkedIn">
        <span class="fa fa-linkedin"></span>
        <span class="social-share-btn-text">LinkedIn</span>
      </a>
    </li>
  </ul>
</div> <!-- .social-sharing-wrap -->
