<!DOCTYPE html>
<html>
<head>
  <%= require('html-loader!./partials/header/head.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('html-loader!./partials/header/g-fonts.html') %>
</head>
<body>

<div id="pager">

  <header id="header" class="site-header masthead">
    <div class="site-header-inner navbar navbar-toggleable-md">
      <%= require('html-loader!./partials/header/header-menu-mobile-icon.html') %>
      <%= require('html-loader!./partials/header/header-logo.html') %>
      <%= require('html-loader!./partials/header/header-navigation.html') %>
    </div> <!-- .site-header-inner -->
  </header> <!-- #header -->

  <div id="content" class="site-content">
    <div class="container">


        <section class="project-items-wrapper">
          <div class="theme-heading">
            <span class="text">Thumbnail items</span>
          </div> <!-- .theme-heading -->

          <h5>Effect Sadie</h5>
          <div class="row">
            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-sadie.html') %>
            </article> <!-- .entry-post -->

            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-sadie.html') %>
            </article> <!-- .entry-post -->

            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-sadie.html') %>
            </article> <!-- .entry-post -->

          </div> <!-- .row -->

          <h5 class="mt-1">Effect None</h5>
          <div class="row">
            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
            </article> <!-- .entry-post -->

            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
            </article> <!-- .entry-post -->

            <article class="entry-post col-lg-4">
              <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
            </article> <!-- .entry-post -->

          </div> <!-- .row -->

          <h5 class="mt-1">Horizontal</h5>
          <%= require('html-loader!./partials/components/horizontal-card.html') %>
          <%= require('html-loader!./partials/components/horizontal-card.html') %>
          <%= require('html-loader!./partials/components/horizontal-card.html') %>

        </section> <!-- project-items-wrapper -->

    </div> <!-- .container -->
  </div> <!-- #content -->

  <footer id="footer" class="site-footer" role="contentinfo">
    <div class="footer-inner">
      <%= require('html-loader!./partials/footer/footer-widgets.html') %>
      <%= require('html-loader!./partials/footer/footer-bottom.html') %>
    </div> <!-- .footer-inner -->
  </footer> <!-- #footer -->

  <%= require('html-loader!./partials/components/menu-mobile-alt.html') %>

</div> <!-- #pager -->

  <%= require('html-loader!./partials/components/signin-modal.html') %>
  <%= require('html-loader!./partials/components/signup-modal.html') %>

</body>
</html>
