<!DOCTYPE html>
<html>
<head>
  <%= require('html-loader!./partials/header/head.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('html-loader!./partials/header/g-fonts.html') %>
</head>
<body>

<div id="pager">

  <header id="header" class="site-header masthead">
    <div class="site-header-inner navbar navbar-toggleable-md">
      <%= require('html-loader!./partials/header/header-menu-mobile-icon.html') %>
      <%= require('html-loader!./partials/header/header-logo.html') %>
      <%= require('html-loader!./partials/header/header-navigation.html') %>
    </div> <!-- .site-header-inner -->
  </header> <!-- #header -->

  <div id="content" class="site-content">
    <div class="container">
      <div class="row">

        <div id="primary" class="content-area col-md-8">
          <main id="main" class="site-main" role="main">

            <article class="single-post">
              <header class="single-post-header">
                <h1 class="single-post-title">Help Destitute Moms with AIDs Care for Their Kids</h1>
                <ul class="meta">
                  <li class="meta-location">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="#">Cambodia</a>
                  </li>
                  <li class="meta-category">
                    <i class="fa fa-folder-o" aria-hidden="true"></i>
                    <a href="#">Education</a>,
                    <a href="#">Children</a>,
                    <a href="#">Headlines</a>
                  </li>
                  <li class="meta-id">
                    <i class="fa fa-link" aria-hidden="true"></i>
                    <span>Project #3343</span>
                  </li>
                </ul> <!-- .meta -->
              </header><!-- .project-single-header -->

              <%= require('html-loader!./partials/projects/project-single-media.html') %>

              <div class="theme-heading">
                <span class="text">Story</span>
              </div> <!-- .theme-heading -->
              <%= require('html-loader!./partials/projects/project-single-content.html') %>
              
            </article> <!-- .project-single-article -->

          </main> <!-- #main -->
        </div> <!-- #primary -->

        <aside id="secondary" class="sidebar widget-area col-md-4" role="complementary">

          <div class="widget widget-project-raised">
            <div class="goal-process">
              <div class="raised"><strong>$1,225,936</strong> Raised of</div>
              <div class="goal"><strong>$2,000,000</strong> Goal</div>

              <div class="progress-bar rounded">
                <progress class="progress progress-success progress-animated" value="75" max="100"></progress>
              </div>

              <div class="goal-meta row no-gutters">
                <div class="donors col-4 text-center"><strong>711</strong> donations</div>
                <div class="expired col-4 text-center"><strong>72</strong> days left</div>
                <div class="remained col-4 text-center"><strong>$774,064</strong> to go</div>
              </div> <!-- .row -->
            </div> <!-- .goal-progress -->
            <a href="#" class="btn btn-primary btn-block">Donate</a>
          </div> <!-- .widget -->

          <%= require('html-loader!./partials/widgets/widget-funded-project.html') %>

          <%= require('html-loader!./partials/widgets/widget-organization-info.html') %>

        </aside> <!-- .widget-area -->


      </div> <!-- .row -->
    </div> <!-- .container -->

    <div class="social-sharing-wrap">
      <div class="container">
        <div class="theme-heading">
          <span class="text">Sharing</span>
        </div> <!-- .theme-heading -->
        <%= require('html-loader!./partials/components/social-share.html') %>
      </div> <!-- .container -->
    </div> <!-- .social-sharing-wrap -->

    <div class="related-posts">
      <div class="container">
        <div class="theme-heading">
          <span class="text">Related Projects</span>
        </div> <!-- .theme-heading -->
        <div class="row">
          <article class="related-post col-lg-4">
            <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
          </article> <!-- .related-post -->

          <article class="related-post col-lg-4">
            <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
          </article> <!-- .related-post -->

          <article class="related-post col-lg-4">
            <%= require('html-loader!./partials/components/thumbnail-effect-none.html') %>
          </article> <!-- .related-post -->
        </div><!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .related-posts -->
  </div> <!-- #content -->

  <footer id="footer" class="site-footer" role="contentinfo">
    <div class="footer-inner">
      <%= require('html-loader!./partials/footer/footer-widgets.html') %>
      <%= require('html-loader!./partials/footer/footer-bottom.html') %>
    </div> <!-- .footer-inner -->
  </footer> <!-- #footer -->

  <%= require('html-loader!./partials/components/menu-mobile-alt.html') %>

</div> <!-- #pager -->

  <%= require('html-loader!./partials/components/signin-modal.html') %>
  <%= require('html-loader!./partials/components/signup-modal.html') %>

</body>
</html>
