<!DOCTYPE html>
<html>
<head>
  <%= require('html-loader!./partials/header/head.html') %>
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= require('html-loader!./partials/header/g-fonts.html') %>
</head>
<body class="left-sidebar">

<div id="pager">

  <header id="header" class="site-header masthead">
    <div class="site-header-inner navbar navbar-toggleable-md">
      <%= require('html-loader!./partials/header/header-menu-mobile-icon.html') %>
      <%= require('html-loader!./partials/header/header-logo.html') %>
      <%= require('html-loader!./partials/header/header-navigation.html') %>
    </div> <!-- .site-header-inner -->
  </header> <!-- #header -->

  <div class="adv-search-wrap">
    <div class="container">
      <form id="adv-search-form">
        <div class="form-group mb-0 row">
          <div class="col-sm-12 col-md-6">
            <input type="text" class="form-control mb-1 mb-lg-0" name="s" placeholder="Enter keywords (optional)">
          </div>
          <div class="col-sm-6 col-md-2">
            <select class="custom-select mb-1 mb-lg-0" id="searchByCountry">
              <option selected>All Countries</option>
              <option value="1">Cambodia</option>
              <option value="2">Thailand</option>
              <option value="3">Vietnam</option>
              <option value="4">Laos</option>
            </select>
          </div>
          <div class="col-sm-6 col-md-2">
            <select class="custom-select mb-1 mb-lg-0" id="searchByCategory">
              <option selected>All Categories</option>
              <option value="1">Education</option>
              <option value="2">Sports</option>
              <option value="3">Health</option>
              <option value="4">Human Right</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-2">
            <button type="submit" class="btn btn-primary btn-block">Search</button>
          </div>
        </div> <!-- .form-group -->
      </form>
    </div> <!-- .container -->
  </div> <!-- .adv-search-wrap -->

  <div class="s-result-info-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-8">
          <h3 class="s-result-count">1-24 of 1,325 results for <span>Save children</span></h3>
        </div> <!-- .col -->
        <div class="col-12 col-sm-4">
          <form id="searchShortForm" class="form-inline justify-content-md-end mt-sm-1">
            <label class="mr-sm-2 hidden-sm-down" for="sort">Sort by</label>
            <select class="form-control form-control-sm" id="sort">
              <option selected>Relevance</option>
              <option value="1">Closeness to goal (high to low)</option>
              <option value="2">Closeness to goal (low to high)</option>
              <option value="3">New</option>
              <option value="4">Recently update</option>
            </select>
          </form>
        </div> <!-- .col -->
      </div> <!-- .row -->
    </div> <!-- .container-fluid -->
  </div> <!-- .s-result-bar -->

  <div id="content" class="site-content">
    <div class="container">
      <div class="row">

        <div id="primary" class="content-area col-md-9">
          <main id="main" class="site-main" role="main">
            <!-- <div class="page-header">
              <h1 class="page-header-title">Search result</h1>
            </div> -->

            <div class="post-entries">
              <article id="post-id-1" class="post-entry">
                <%= require('html-loader!./partials/components/horizontal-card.html') %>
              </article>
              <article id="post-id-2" class="post-entry">
                <%= require('html-loader!./partials/components/horizontal-card.html') %>
              </article>
              <article id="post-id-3" class="post-entry">
                <%= require('html-loader!./partials/components/horizontal-card.html') %>
              </article>
            </div> <!-- .post-entries -->

            <nav class="page-navigation mt-3">
              <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav> <!-- .page-navigation -->

          </main> <!-- #main -->
        </div> <!-- #primary -->

        <aside id="secondary" class="sidebar widget-area col-md-3" role="complementary">
          <div class="widget widget-refine-by">
            <h4 class="widget-title">Refine by</h4>
            <h5 class="widget-sub-title">Category</h5>
            <div class="expanding-panel" data-link-text="Show more categories">
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#" class="nav-link active">Children <span class="badge badge-primary float-right mt-1">12</span></a></li>
                <li class="nav-item"><a href="#" class="nav-link">Education</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Women and Girls</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Health</a></li>
                <li class="nav-item"><a href="#" class="nav-link active">Human Rights</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Disaster Recovery</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Economic Development</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Environment</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Animals</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Hunger</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Sport</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Technology</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Arts and Culture</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Climate Change</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Microfinance</a></li>
              </ul> <!-- .nav -->
            </div> <!-- .expanding-panel -->

            <h5 class="widget-sub-title">Country</h5>
            <div class="expanding-panel" data-link-text="Show more countries">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="#" class="nav-link">Cambodia</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Vietnam</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Laos</a></li>
              <li class="nav-item"><a href="#" class="nav-link active">India</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Nepal</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Uganda</a></li>
              <li class="nav-item"><a href="#" class="nav-link">United States</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Kenya</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Haiti</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Pakistan</a></li>
              <li class="nav-item"><a href="#" class="nav-link">South Africa</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Italy</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Greece</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Mexico</a></li>
            </ul> <!-- .nav -->
            </div> <!-- .expanding-panel -->

            <h5 class="widget-sub-title">Recently Updated</h5>
            <div class="expanding-panel" data-link-text="Show more updated">
            <ul class="nav flex-column">
              <li class="nav-item"><a href="#" class="nav-link">Last week</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Last month</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Last 3 months</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Last 6 months</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Longer than 6 months</a></li>
            </ul> <!-- .nav -->
            </div> <!-- .expanding-panel -->
          </div> <!-- .widget-refine-by -->
        </aside>

      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- #content -->

  <footer id="footer" class="site-footer" role="contentinfo">
    <div class="footer-inner">
      <%= require('html-loader!./partials/footer/footer-widgets.html') %>
      <%= require('html-loader!./partials/footer/footer-bottom.html') %>
    </div> <!-- .footer-inner -->
  </footer> <!-- #footer -->

  <%= require('html-loader!./partials/components/menu-mobile-alt.html') %>

</div> <!-- #pager -->

  <%= require('html-loader!./partials/components/signin-modal.html') %>
  <%= require('html-loader!./partials/components/signup-modal.html') %>

</body>
</html>
